h2 {
    color: rgb(73, 109, 226);
}

.notification {
    background: lightgrey;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.info {
    color: green;
    border: 5px solid green;
}
.error {
    color: red;
    border: 5px solid red;
}

.spacing {
    padding: 0 3px;
}

.blog_banner {
    background-color: #d3d3d3;
    padding: 5px;
}

.blog_list {
    list-style-type: none;
    padding: 0;
}

.blog_list_item {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #000;
}