h2 {
    color: green;
}

.notification {
    background: lightgrey;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.info {
    color: green;
    border: 5px solid green;
}
.error {
    color: red;
    border: 5px solid red;
}